@font-face {
    font-family: 'Kanit-Light';
    src:  local('Kanit-Light'), url('./Kanit-Light.ttf') format('truetype');
}
body {
    color:#051F20;
    background-color: #e3e9e4;
    overflow: hidden; 
    font-family: 'Kanit-Light';
}